{% extends "gso_base_dashboard.html" %}

{% block title %}Account Management{% endblock %}

{% block main_content %}
<div class="header">
    <h1 class="page-title">INVENTORY</h1>
    <input type="text" class="search-bar" placeholder="Search...">
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>NO.</th>
                <th>FULL NAME</th>
                <th>EMPLOYEE ID</th>
                <th>UNIT NAME</th>
                <th>PHONE NUMBER</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>John Alexis Rica</td>
                <td>54321</td>
                <td>Repair and Maintenance</td>
                <td>0912-345-6789</td>
                <td><button class="action-btn">Update</button></td>
            </tr>

            <tr>
                <td>2</td>
                <td>Kenjay Christian Abados</td>
                <td>24153</td>
                <td>Electrical</td>
                <td>0998-765-4321</td>
                <td><button class="action-btn">Update</button></td>
            </tr>

            <tr>
                <td>3</td>
                <td>John Cris Gaite</td>
                <td>43251</td>
                <td>Electrical</td>
                <td>0943-564-7866</td>
                <td><button class="action-btn">Update</button></td>
            </tr>

            <tr>
                <td>4</td>
                <td>Kenn Dainiel Paduga</td>
                <td>52143</td>
                <td>Utilities</td>
                <td>0924-587-3684</td>
                <td><button class="action-btn">Update</button></td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}
