{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
</head>
<body>
    <div class="login-container">
        <img src="{% static 'images/gso_logo.png' %}" alt="General Services Office Logo">
        <h2>Welcome!</h2>
        <p>Log In to your Account</p>
        <form method="post">
            {% csrf_token %}
            {{ form.username.errors }}
            <input type="text" name="username" placeholder="Username" required>

            {{ form.password.errors }}
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">LOG IN</button>
        </form>

        {% if form.errors %}
            <div class="error-msg">Invalid username or password.</div>
        {% endif %}
    </div>
</body>
</html>
